<!doctype html>
{% extends 'apps/base.html' %}
{% block content %}
{%load static%}
    <div class="container-fluid ">
        <div class="row my-2">
            <div class="col">
                <h2 >Latest Posts</h2>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." aria-label="Search">
                    <button class="btn btn-outline-light btn-primary " type="button" id="button-search">
                      <i class="bi bi-search"></i> <!-- Bootstrap Icons -->
                    </button>
                  </div>
            </div>
        </div>
        <div class="row m-3">

            <div class="col-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{%static 'images/sports.jpg' %}" class="img-fluid" alt="sports">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">Sports Equipments</h5>
                                <p class="card-text">can purchase bulk quntity also in the cheeper price</p>
                                <div class="d-flex justify-content-between">
                                     <a href="/gallery">for more</a>
                                    <a class="text-decoration-none text-dark fw-bold" href="/gallery">Sports</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{%static 'images/electronics.jpg' %}" class="img-fluid" alt="electronics">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">Electronic equipments</h5>
                                <p class="card-text">All Electronic items are available here at best rate.</p>
                                <div class="d-flex justify-content-between">
                                     <a href="/elecgallery">For More</a>
                                    <a class="text-decoration-none text-dark fw-bold" href="#">Electronics</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{%static 'images/clothes.jpg' %}" class="img-fluid" alt="...">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">Mens / Womens</h5>
                                <p class="card-text">Traditional, Ethnic Wears for both mens & womens.</p>
                                <div class="d-flex justify-content-between">
                                     <a href="/wears">For More</a>
                                    <a class="text-decoration-none text-dark fw-bold" href="#">Clothes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{%static 'images/kids.jpg' %}" class="img-fluid" alt="kids">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">Kids Toys</h5>
                                <p class="card-text">kids items are available with 20% discount</p>
                                <div class="d-flex justify-content-between">
                                     <a href="/kids">For More</a>
                                    <a class="text-decoration-none text-dark fw-bold" href="#">Kids</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{%static 'images/grocery.jpg' %}" class="img-fluid" alt="grocery">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">Grocery items</h5>
                                <p class="card-text">grains, dry fruits, vegetables, nuts and all types are available.</p>
                                <div class="d-flex justify-content-between">
                                     <a href="/grocery">For More</a>
                                    <a class="text-decoration-none text-dark fw-bold" href="#">Grocery</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{%static 'images/jewel.jpg' %}" class="img-fluid" alt="jewel">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">Trending & Traditional</h5>
                                <p class="card-text">Trending Collections in chains, Bangles, Ear Rings, necklace sets.</p>
                                <div class="d-flex justify-content-between">
                                     <a href="/jewel">For More</a>
                                    <a class="text-decoration-none text-dark fw-bold" href="#">Jewellery</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 my-3">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="First">
                                <span aria-hidden="true">&laquo; first</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="Previous">
                                <span aria-hidden="true">previous</span>
                            </a>
                        </li>
                        <li class="page-item"><span class="page-link">Page 3 of 20.</span></li>
                        <li class="page-item">
                            <a class="page-link" href="?page=4" aria-label="Next">
                                <span aria-hidden="true">next</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page=20" aria-label="Last">
                                <span aria-hidden="true">last &raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                
            </div>
        </div>
        <div class="row">
           
        </div>
        
    </div>

{% endblock %}

</html>

