<!doctype html>
{% extends 'apps/base.html' %}
{% block content %}
{%load static%}
  
<div class="container">
  <div class="responsive">
    <div class="gallery">
        <img src="{%static 'images/jantear.jpg' %}" alt="basket"  style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="/detail">
        <img src="{%static 'images/jantique.jpg' %}" alt="exten" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_lights.jpg">
        <img src="{%static 'images/jewel.jpg' %}" alt="football" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="{%static 'images/jharam.jpg' %}" alt="tennis" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>


  <div class="responsive">
    <div class="gallery">
        <img src="{%static 'images/jmetal.jpg' %}" alt="basket"  style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_forest.jpg">
        <img src="{%static 'images/jnec.jpg' %}" alt="Forest" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_lights.jpg">
        <img src="{%static 'images/jneck.jpg' %}" alt="football" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="{%static 'images/jring.jpg' %}" alt="tennis" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>
</div>


  <div class="clearfix"></div>

  {% endblock content %}

</html>
