<!doctype html>
{% extends 'apps/base.html' %}
{% block content %}
{%load static%}
  
<div class="container">
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="/detail">
        <img src="{%static 'images/srope.jpg' %}" alt="Forest" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price :rs 12/- 
        <button style="border-radius: 3px solid black;">Add to Cart</button>
      </div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="/detail">
        <img src="{%static 'images/sspring.jpg' %}" alt="Forest" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price :rs 12/- 
        <button style="border-radius: 3px solid black;">Add to Cart</button>
      </div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_lights.jpg">
        <img src="{%static 'images/struf.jpg' %}" alt="football" style= "width:200px; height: 250px;">    
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="{%static 'images/sgym.jpg' %}" alt="tennis" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>


  <div class="responsive">
    <div class="gallery">
        <img src="{%static 'images/basketball.jpg' %}" alt="basket"  style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_forest.jpg">
        <img src="{%static 'images/bat.jpg' %}" alt="Forest" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_lights.jpg">
        <img src="{%static 'images/football.jpg' %}" alt="football" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="{%static 'images/tennis.jpg' %}" alt="tennis" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>
</div>


<div class="container">
  <div class="responsive">
    <div class="gallery">
        <img src="{%static 'images/ebluetooth.jpg' %}" alt="basket"  style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="/detail">
        <img src="{%static 'images/eextension.jpg' %}" alt="exten" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_lights.jpg">
        <img src="{%static 'images/eminitool.webp' %}" alt="football" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="{%static 'images/emobileholder.jpg' %}" alt="tennis" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>


  <div class="responsive">
    <div class="gallery">
        <img src="{%static 'images/esoldering.jpg' %}" alt="basket"  style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_forest.jpg">
        <img src="{%static 'images/etravel.jpg' %}" alt="Forest" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_lights.jpg">
        <img src="{%static 'images/eweightscale.jpg' %}" alt="football" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="{%static 'images/espeaker.jpg' %}" alt="tennis" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>
</div>



<div class="container">
  <div class="responsive">
    <div class="gallery">
        <img src="{%static 'images/gdryfruit.jpg' %}" alt="basket"  style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="/detail">
        <img src="{%static 'images/gcinnamon.jpg' %}" alt="exten" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_lights.jpg">
        <img src="{%static 'images/ghoney.jpg' %}" alt="football" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="{%static 'images/gjaggery.jpg' %}" alt="tennis" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>


  <div class="responsive">
    <div class="gallery">
        <img src="{%static 'images/gnuts.jpg' %}" alt="basket"  style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_forest.jpg">
        <img src="{%static 'images/gpoha.jpg' %}" alt="Forest" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_lights.jpg">
        <img src="{%static 'images/grisins.jpg' %}" alt="football" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="{%static 'images/gspices.jpg' %}" alt="tennis" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>
</div>


<div class="container">
  <div class="responsive">
    <div class="gallery">
        <img src="{%static 'images/jantear.jpg' %}" alt="basket"  style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="/detail">
        <img src="{%static 'images/jantique.jpg' %}" alt="exten" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_lights.jpg">
        <img src="{%static 'images/jewel.jpg' %}" alt="football" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="{%static 'images/jharam.jpg' %}" alt="tennis" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>


  <div class="responsive">
    <div class="gallery">
        <img src="{%static 'images/jmetal.jpg' %}" alt="basket"  style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_forest.jpg">
        <img src="{%static 'images/jnec.jpg' %}" alt="Forest" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_lights.jpg">
        <img src="{%static 'images/jneck.jpg' %}" alt="football" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="{%static 'images/jring.jpg' %}" alt="tennis" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>
</div>

<div class="container">
  <div class="responsive">
    <div class="gallery">
        <img src="{%static 'images/kcomp.jpg' %}" alt="basket"  style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="/detail">
        <img src="{%static 'images/kkeyboard.jpg' %}" alt="exten" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_lights.jpg">
        <img src="{%static 'images/klight.jpg' %}" alt="football" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="{%static 'images/knestle.jpg' %}" alt="tennis" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>


  <div class="responsive">
    <div class="gallery">
        <img src="{%static 'images/kring.jpg' %}" alt="basket"  style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_forest.jpg">
        <img src="{%static 'images/krolls.jpg' %}" alt="Forest" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_lights.jpg">
        <img src="{%static 'images/ktoy.jpg' %}" alt="football" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="{%static 'images/ktoyy.jpg' %}" alt="tennis" style= "width:200px; height: 250px;">
      </a>
      <div class="desc">price : Rs 1. 30% OFF on each purchase</div>
    </div>
  </div>

  
</div>






  <div class="clearfix"></div>

  {% endblock content %}

</html>
